.echLegend {
  &--top,
  &--bottom {
    .echLegendList {
      display: grid;
      grid-column-gap: $echLegendColumnGap;
      grid-row-gap: $echLegendRowGap;
      margin-top: $echLegendRowGap;
      margin-bottom: $echLegendRowGap;

      @include internetExplorerOnly {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }

  &--left,
  &--right {
    .echLegendList {
      flex-direction: column;
    }
  }

  &--top,
  &--left {
    order: 0;
  }

  &--bottom,
  &--right {
    order: 1;
  }

  &--debug {
    background: red;
    position: relative;
  }

  .echLegendListContainer {
    @include euiYScrollWithShadows;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    .echLegendItem--right :focus {
      margin-right: $euiSizeXS;
    }

    :focus {
      @include euiFocusRing;
      background-color: $euiFocusBackgroundColor;
      border-radius: $euiBorderRadius / 2;
    }
  }
}
