$legendItemVerticalPadding: $echLegendRowGap / 2;

.echLegendItem {
  color: $euiTextColor;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &:not(&--hidden) {
    .echLegendItem__color--changable {
      cursor: pointer;
      height: 18px;
      margin-left: 5px;
    }
  }

  &:hover .background {
    background-color: $euiColorLightestShade;
  }

  .background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  &__action {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: $euiSizeXS;
    height: 16px;
    width: 20px;
  }

  &__color {
    display: flex;
    margin-right: $euiSizeXS;
    line-height: 1.5;

    .euiPopover {
      vertical-align: inherit; // prevents color dot from shifting
    }
  }

  &__visibility {
    margin-right: $euiSizeXS;

    &:hover {
      cursor: pointer;
    }
  }

  &__label {
    @include euiFontSizeXS;
    @include euiTextTruncate;
    flex: 1 1 auto;
    text-align: left;
    vertical-align: baseline;
    letter-spacing: unset;

    &--clickable {
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  &__extra {
    @include euiFontSizeXS;
    text-align: right;
    flex: 0 0 auto;
    margin-left: $euiSizeXS;
    font-feature-settings: 'tnum';
    letter-spacing: unset;

    &--hidden {
      display: none;
    }
  }

  &--vertical {
    padding-top: $legendItemVerticalPadding / 2;
    padding-bottom: $legendItemVerticalPadding / 2;

    &:first-of-type {
      margin-top: $legendItemVerticalPadding / 2;
    }

    .background {
      margin-top: $legendItemVerticalPadding / 2;
      margin-bottom: $legendItemVerticalPadding / 2;
    }
  }

  &--hidden {
    color: $euiColorDarkShade;
  }
}
