**/*.js.snap
/.opensearch
/.chromium
/build
/built_assets
/bwc_tmp
/config/apm.dev.js
/data
/html_docs
/optimize
/plugins
/test/fixtures/scenarios
node_modules
target

!/.eslintrc.js

# plugin overrides
/src/core/lib/osd_internal_native_observable
/src/legacy/plugin_discovery/plugin_pack/__tests__/fixtures/plugins/broken
/src/plugins/data/common/opensearch_query/kuery/ast/_generated_/**
/src/plugins/vis_type_timeline/public/_generated_/**

# package overrides
/packages/opensearch-eslint-config-opensearch-dashboards
/packages/opensearch-safer-lodash-set
/packages/osd-interpreter/src/common/lib/grammar.js
/packages/osd-plugin-generator/template
/packages/osd-pm/dist
/packages/osd-test/src/functional_test_runner/__tests__/fixtures/
/packages/osd-test/src/functional_test_runner/lib/config/__tests__/fixtures/
/packages/osd-ui-framework/dist
/packages/osd-ui-shared-deps/flot_charts
