/*
 * SPDX-License-Identifier: Apache-2.0
 */

.kuiTextInput {
  width: $kuiFormFieldDefaultWidth;

  @include formControl;

  &.kuiTextInput-isInvalid {
    @include formControlInvalid;
  }
}

.kuiTextInput--small {
  width: $kuiFormFieldSmallWidth;
}

.kuiTextInput--large {
  width: $kuiFormFieldLargeWidth;
}
