/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.celMetricsCard {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__header {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  &__dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    flex-shrink: 0;
  }

  &__title {
    font-weight: 700;
    font-size: 12px;
    /* stylelint-disable-next-line @osd/stylelint/no_restricted_values */
    color: var(--osd-color-text-default, #1a1c21);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__errorDot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-left: auto;
    flex-shrink: 0;
    /* stylelint-disable-next-line @osd/stylelint/no_restricted_values */
    background-color: var(--osd-color-status-error, #bd271e);
  }

  &__subtitle {
    font-size: 11px;
    /* stylelint-disable-next-line @osd/stylelint/no_restricted_values */
    color: var(--osd-color-text-secondary, #69707d);
    margin-top: -4px;
  }

  &__metrics {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__metricHead {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    line-height: 1.2;
    margin-bottom: 2px;
    /* stylelint-disable-next-line @osd/stylelint/no_restricted_values */
    color: var(--osd-color-text-secondary, #69707d);
  }

  &__metricValue {
    font-weight: 600;
    /* stylelint-disable-next-line @osd/stylelint/no_restricted_values */
    color: var(--osd-color-text-default, #1a1c21);
  }
}
