@import "@elastic/eui/src/global_styling/variables/header";

$osdHeaderOffset: $euiHeaderHeightCompensation;
$osdHeaderBreadcrumbBlueBackground: #b9d9eb;
$osdHeaderBreadcrumbGrayBackground: #d9e1e2;
$osdHeaderBreadcrumbCollapsedLink: #002a3a;
$osdHeaderPacificSkyDarkestBackground: #163f66;
$osdHeaderMidnightSkyMediumBackground: #4c636f;
$osdHeaderMidnightSkyMediumLightColor: #96a0a5;
$osdMidnightSkyMediumLightHoverColor: #b0b8bb;
