#echTooltipContainerPortal {
  position: absolute;
  pointer-events: none;
  z-index: 10000000;
}
.echTooltip {
  position: absolute;
  @include euiToolTipStyle;
  @include euiFontSizeXS;
  padding: 0;
  transition: opacity $euiAnimSpeedNormal;
  pointer-events: none;
  user-select: none;
  margin-bottom: $euiSizeXS;

  &__list {
    padding: $euiSizeXS;
  }

  &__header {
    @include euiToolTipTitle;
    margin-bottom: 0;
    padding: $euiSizeXS ($euiSizeXS * 2);
  }

  &__item {
    display: flex;
    padding: 3px;
    box-sizing: border-box;
    border-left: $euiSizeXS solid transparent;
    min-width: 1px;
  }

  &__label {
    overflow-wrap: break-word;
    word-wrap: break-word;
    min-width: 1px;
    flex: 1 1 auto;
  }

  &__value {
    font-weight: $euiFontWeightBold;
    text-align: right;
    font-feature-settings: 'tnum';
    margin-left: $euiSizeS;
  }

  &__rowHighlighted {
    background-color: transparentize($euiColorGhost, 0.9);
  }

  &--hidden {
    opacity: 0;
  }
}
