/*
 * SPDX-License-Identifier: Apache-2.0
 */

.kuiToolBarFooter {
  @include bar;

  padding: 10px;
  height: 40px;
  background-color: $euiColorEmptyShade;
}

.kuiToolBarFooterSection {
  @include barSection;
}
