@import '../node_modules/@elastic/eui/src/global_styling/functions/index';
@import '../node_modules/@elastic/eui/src/global_styling/variables/index';
@import '../node_modules/@elastic/eui/src/global_styling/mixins/index';
@import '../node_modules/@elastic/eui/src/components/tool_tip/variables';
@import '../node_modules/@elastic/eui/src/components/tool_tip/mixins';
