@import '../node_modules/@elastic/eui/src/global_styling/variables/index';
@import '../node_modules/@elastic/eui/src/global_styling/mixins/helpers';
@import '../node_modules/@elastic/eui/src/global_styling/mixins/shadow';
@import '../node_modules/@elastic/eui/src/global_styling/mixins/typography';
@import '../node_modules/@elastic/eui/src/global_styling/functions/colors';

@import 'components/chart';
@import 'components/legend';
@import 'components/tooltip';

.elasticCharts {
  position: relative;
  width: 100%;
  height: 100%;
}

.elasticCharts {
  &:hover {
    .elasticChartsLegend__toggle {
      opacity: 1;
    }
  }
}
