@import '../node_modules/@elastic/eui/src/global_styling/index';

@import 'components/chart';
@import 'components/legend';
@import 'components/tooltip';

.elasticcharts {
  position: relative;
  width: 100%;
  height: 100%;
}
