[id^='echTooltipPortal'] {
  pointer-events: none;
  z-index: 10000000;
}

[id^='echAnchor'] {
  position: absolute;
  pointer-events: none;
}

.echTooltipPortal__invisible {
  position: fixed;
  visibility: hidden;
  width: 0;
  height: 0;
}
