.echAnnotation {
  pointer-events: none;
  position: absolute;
  user-select: none;
}

.echAnnotation--hidden,
.echAnnotation__tooltip--hidden {
  opacity: 0;
}

.echAnnotation__tooltip {
  @include euiToolTipStyle;
  @include euiFontSizeXS;
  position: absolute;
  padding: 0;

  // overflow: hidden;
  transition: opacity $euiAnimSpeedNormal;
  pointer-events: none;
  user-select: none;
}

.echAnnotation__header {
  @include euiToolTipTitle;
  padding: $euiSizeXS ($euiSizeXS * 2);
}

.echAnnotation__details {
  padding: $euiSizeXS ($euiSizeXS * 2);
}
