/**
 * The Base Elastic-Charts container
 */

.echContainer {
  flex: 1;
  position: relative;
}

.echChart {
  display: flex;
  height: 100%;

  &--column {
    flex-direction: column;
  }
}

.echChartCursorContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  box-sizing: border-box;
}

.echChartResizer {
  z-index: -10000000;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
}