/**
 * The Base Elastic-Charts container
 */

.echContainer {
  flex: 1;
  position: relative;
}

.echChart {
  display: flex;
  height: 100%;

  &--isBrushEnabled {
    cursor: crosshair;
  }

  &--column {
    flex-direction: column;
  }
}
