.elasticChartsCrosshair {
  position: absolute;
  pointer-events: none;
}

.elasticChartsCrosshair__band {
  position: absolute;
  pointer-events: none;
}

.elasticChartsCrosshair__line {
  position: absolute;
  pointer-events: none;
  z-index: $euiZLevel8;
  background: 'transparent';
}
