.echHighlighter {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.echHighlighter__rect {
  fill: transparentize($euiColorGhost, .8);
}
