$elasticChartsLegendMaxWidth: $euiSize * 10;
$elasticChartsLegendMaxHeight: $euiSize * 4;

.elasticChartsLegend {
  position: absolute;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.elasticChartsLegend--collapsed {
  width: $euiSize * 2 !important;
  height: $euiSize * 2 !important;
  .elasticChartsLegendList {
    display: none;
  }
}
.elasticChartsLegend--debug {
  background: red;
}
.elasticChartsLegend--top {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: $elasticChartsLegendMaxHeight;
  flex-direction: column;
  order: 1;
  .elasticChartsLegendList__item {
    min-height: $elasticChartsLegendMaxHeight / 2 - 6px;
    height: $elasticChartsLegendMaxHeight / 2 - 6px;
    width: $elasticChartsLegendMaxWidth;
    min-width: $elasticChartsLegendMaxWidth;
  }
}
.elasticChartsLegend--bottom {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: $elasticChartsLegendMaxHeight;
  flex-direction: column;
  .elasticChartsLegendList__item {
    min-height: $elasticChartsLegendMaxHeight / 2 - 6px;
    height: $elasticChartsLegendMaxHeight / 2 - 6px;
    width: $elasticChartsLegendMaxWidth;
    min-width: $elasticChartsLegendMaxWidth;
  }
}
.elasticChartsLegend--left {
  top: 0;
  bottom: 0;
  left: 0;
  width: $elasticChartsLegendMaxWidth;
  order: 1;
  .elasticChartsLegendList__item {
    min-height: $euiSize * 2;
    height: $euiSize * 2;
    min-width: 100%;
    width: 100%;
  }
}
.elasticChartsLegend--right {
  top: 0;
  bottom: 0;
  right: 0;
  width: $elasticChartsLegendMaxWidth;
  .elasticChartsLegendList__item {
    min-height: $euiSize * 2;
    height: $euiSize * 2;
    min-width: 100%;
    width: 100%;
  }
}

.elasticChartsLegendCollapser {
  width: 2 * $euiSize;
  height: 2 * $euiSize;
  flex-shrink: 0;
  flex-grow: 0;
}
.elasticChartsLegendCollapser--top {
  order: 2;
}
.elasticChartsLegendCollapser--left {
  order: 2;
}

.elasticChartsLegendListContainer {
  overflow: hidden;
  flex-shrink: 1;
  flex-grow: 0;
  max-width: 100%;
}
.elasticChartsLegendList {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  max-width: 100%;
  width: 100%;
  @include euiScrollBar;
}

.elasticChartsLegendList__item {
  cursor: pointer;
  height: 24px;
  width: $elasticChartsLegendMaxWidth;
  min-width: $elasticChartsLegendMaxWidth;
  &:hover {
    .elasticChartsLegendListItem__title {
      text-decoration: underline;
    }
  }

  &.elasticChartsLegendList__item--hidden {
    display: none;
  }
}

.elasticChartsLegendListItem__title {
  width: $elasticChartsLegendMaxWidth - 4 * $euiSize;
  max-width: $elasticChartsLegendMaxWidth - 4 * $euiSize;

  &.elasticChartsLegendListItem__title--selected {
    text-decoration: underline;
  }

  &.elasticChartsLegendListItem__title--hasDisplayValue {
    width: $elasticChartsLegendMaxWidth - 6 * $euiSize;
    max-width: $elasticChartsLegendMaxWidth - 6 * $euiSize;
  }
}

.elasticChartsLegendListItem__displayValue {
  text-align: right;

  &.elasticChartsLegendListItem__displayValue--hidden {
    display: none;
  }
}

.elasticChartsLegend__toggle {
  border-radius: $euiBorderRadius;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-color: $euiColorEmptyShade;
  transition: opacity $euiAnimSpeedFast $euiAnimSlightResistance,
    background-color $euiAnimSpeedFast $euiAnimSlightResistance $euiAnimSpeedExtraSlow;
  &:focus {
    box-shadow: none;
    background-color: $euiFocusBackgroundColor !important;
  }
}
.elasticChartsLegend__toggle--isOpen {
  background-color: transparentize($euiColorDarkestShade, 0.9);
}
