.echTooltip {
  @include euiToolTipStyle;
  @include euiFontSizeXS;
  position: absolute;
  padding: 0;
  transition: opacity $euiAnimSpeedNormal;
  pointer-events: none;
  user-select: none;

  table {
    border-collapse: collapse;
    border-spacing: 0;
    td,
    th {
      padding: 3px;
    }
  }
  table {
    width: 100%;
  }
}

.echTooltip__header {
  @include euiToolTipTitle;
  padding: $euiSizeXS ($euiSizeXS * 2);
}

.echTooltip__label {
  @include euiTextTruncate;
  // Border indicates series color
  border-left: $euiSizeXS solid transparent;
}

.echTooltip__value {
  font-weight: $euiFontWeightBold;
  text-align: right;
  font-feature-settings: 'tnum';
}

.echTooltip__rowHighlighted {
  background-color: transparentize($euiColorGhost, .9);
  border-radius: $euiBorderRadius;
}

.echTooltip--hidden {
  opacity: 0;
}

.echTooltip__table {
  margin: $euiSizeXS;
}
