.echAnnotation {
  position: absolute;
  user-select: none;
  font-size: $euiFontSizeXS;
  font-weight: $euiFontWeightBold;
}

.echAnnotation__tooltip {
  @include euiToolTipStyle;
  @include euiFontSizeXS;
  padding: 0;
  transition: opacity $euiAnimSpeedNormal;
  pointer-events: none;
  user-select: none;
  max-width: 256px;
}

.echAnnotation__header {
  @include euiToolTipTitle;
  padding: $euiSizeXS ($euiSizeXS * 2);
}

.echAnnotation__details {
  padding: $euiSizeXS ($euiSizeXS * 2);
}
