/*
 * SPDX-License-Identifier: Apache-2.0
 */

// Animations

$kuiAnimSlightBounce: $euiAnimSlightBounce;
$kuiAnimSlightResistance: $euiAnimSlightResistance;
$kuiAnimSpeedVeryFast: $euiAnimSpeedExtraFast;
$kuiAnimSpeedFast: $euiAnimSpeedFast;
$kuiAnimSpeedNormal: $euiAnimSpeedNormal;
$kuiAnimSpeedSlow: $euiAnimSpeedSlow;
$kuiAnimSpeedVerySlow: $euiAnimSpeedExtraSlow;
