// Font

$kuiFontFamily: var(--font-text);
$kuiFontSize: $euiFontSize;
$kuiLineHeight: $euiLineHeight;
$kuiSubTextFontSize: $euiFontSizeS;
$kuiTitleFontSize: $euiFontSizeL;
$kuiFontWeightRegular: $euiFontWeightRegular;
$kuiFontWeightBold: $euiFontWeightBold;
