@import '../node_modules/@elastic/eui/src/themes/eui/eui_colors_dark.scss';

.story-chart {
  background: white;
}
.story-chart-dark {
  background: $euiColorEmptyShade;
}
#root {
  background-color: blanchedalmond;
}
#story-root {
  padding: 20px;
  width: 100%;
  height: 400px;
  position: relative;
}
#story-root + div table {
  border: 1px solid gray;
}
#story-root + div table th {
  border: 1px solid gray;
  padding: 5px;
}
#story-root + div table td {
  border: 1px solid gray;
  padding: 5px;
}
.Pane.vertical.Pane1 {
  background: red;
}
