---
name: PR Review
on:
  pull_request_target:
    types: [opened, synchronize, reopened]

jobs:
  Code-Diff-Analyzer:
    uses: opensearch-project/opensearch-build/.github/workflows/code-diff-analyzer.yml@main
    if: github.repository == 'opensearch-project/OpenSearch-Dashboards'
    permissions:
      id-token: write  # github oidc to assume aws roles
      pull-requests: write  # to create or update comment (peter-evans/create-or-update-comment)
    secrets:
      BEDROCK_ACCESS_ROLE: ${{ secrets.BEDROCK_ACCESS_ROLE }}
    with:
      skip_diff_analyzer_with_label_name: 'skip-diff-analyzer'
      update_pr_comment_with_analyzer_report: true

  Code-Diff-Reviewer:
    uses: opensearch-project/opensearch-build/.github/workflows/code-diff-reviewer.yml@main
    needs: Code-Diff-Analyzer
    if: github.repository == 'opensearch-project/OpenSearch-Dashboards'
    permissions:
      id-token: write  # github oidc to assume aws roles
      pull-requests: write  # to create or update comment (peter-evans/create-or-update-comment)
    secrets:
      BEDROCK_ACCESS_ROLE: ${{ secrets.BEDROCK_ACCESS_ROLE }}
    with:
      skip_diff_reviewer_with_label_name: 'skip-diff-reviewer'
