.echHighlighter {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.echHighlighterOverlay__fill {
  fill: transparentize($euiColorGhost, 0.8);
}

.echHighlighterOverlay__stroke {
  stroke: transparentize($euiColorGhost, 0.8);
}

.echHighlighter__mask {
  fill: transparentize($euiColorEmptyShade, 0.5);
}
