.osdCollapsibleNav__recentsListGroup {
  @include euiYScroll;

  max-height: $euiSize * 10;
  margin-right: -$euiSizeS;
}

.context-nav-wrapper {
  background-color: $ouiCollapsibleNavBackgroundColor;

  .full-width {
    width: 100%;
  }

  .no-padding {
    padding: 0;
  }

  .no-hover {
    &:hover {
      text-decoration: none;
    }
  }

  .wrapper {
    overflow-y: auto;
  }

  .second-navigation {
    border-left: $euiBorderThin;
  }
}
