@import "../../../../public/variables";

@mixin background($color,$shape) {
  background-color: #{$color};
  clip-path: $shape;
  padding: $euiSizeXS - 2.5 $euiSizeL - $euiSizeXS;
}

.osdHeaderBreadcrumbs {
  filter: url("../../public/assets/round_filter.svg#round");

  .osdBreadcrumbs.first {
    @include background($osdHeaderBreadcrumbGrayBackground,
    polygon(
      0% 0%,
      100% 0%,
      calc(100% - #{$euiSizeS}) 100%,
      0% 100%
    ));
  }

  .osdBreadcrumbs.middle {
    @include background($osdHeaderBreadcrumbGrayBackground,
    polygon(
      $euiSizeS 0%,
      100% 0%,
      calc(100% - #{$euiSizeS}) 100%,
      0% 100%
    ));
  }

  .osdBreadcrumbs.last {
    @include background($osdHeaderBreadcrumbBlueBackground,
    polygon(
      $euiSizeS 0%,
      100% 0%,
      calc(100% - #{$euiSizeS}) 100%,
      0% 100%
    ));
  }

  .osdBreadcrumbs.first.last {
    @include background($osdHeaderBreadcrumbBlueBackground,
    polygon(
      0% 0%,
      100% 0%,
      calc(100% - #{$euiSizeS}) 100%,
      0% 100%
    ));
  }

  .euiBreadcrumbSeparator {
    display: none;
  }

  .euiBreadcrumb__collapsedLink {
    color: $osdHeaderBreadcrumbCollapsedLink;
    background: $euiColorEmptyShade;
  }

  .euiPopover__anchor {
    padding: 0 $euiSizeS;
  }

  .euiBreadcrumb:not(.euiBreadcrumb--last) {
    margin-right: 0;
  }
}
