/*
* Copyright OpenSearch Contributors
* SPDX-License-Identifier: Apache-2.0
*/

.newTopNavHeader {
  z-index: 1000;
  padding-left: $euiSizeXS;

  &.shadedTopNavHeader {
    background-color: $euiColorGhost;

    &:not(:last-child) {
      box-shadow: none;
      border-bottom: none;
    }
  }

  &:not(.shadedTopNavHeader) {
    box-shadow: none;
    border-bottom: none;
  }

  &.primaryHeader {
    height: auto;
    padding-top: $euiSizeM;
  }

  &.primaryApplicationHeader {
    height: auto;
    padding-top: calc($euiSizeXS / 2);
  }

  &:has(.headerDescriptionControl, .headerBottomControl) {
    height: auto;
  }
}

.newTopNavApplicationTitle {
  padding: 0 $euiSizeM;
}

.newAppTopNavExpander {
  position: fixed;
  left: 0;
  top: $euiSizeS - calc($euiSizeXS / 2);
}

.newPageTopNavExpander {
  position: fixed;
  left: 0;
  top: $euiSizeL - $euiSizeXS;
}

.stretchedActionMenu {
  width: 100%;
}

[data-test-subj="headerAppActionMenu"] {
  width: 100%;
}
