/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.osdHeaderSearchBar {
  position: relative;
  width: 100%;
}

.osdHeaderSearchBar__shortcutHint {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  color: $euiTextSubduedColor;
  font-size: 12px;
  line-height: normal;
  text-align: center;
  pointer-events: none;
}
