/*
* Copyright OpenSearch Contributors
* SPDX-License-Identifier: Apache-2.0
*/

.newTopNavHeader {
  z-index: 1000;
  padding: 0 $euiSize $euiSizeS;
  box-shadow: none;
  border-bottom: none;
  background: none;
  height: auto;
  gap: $euiSizeS;

  &.primaryHeader {
    margin-top: $euiSizeM;
  }

  &.primaryApplicationHeader {
    padding-top: $euiSizeM - $euiSizeXS;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .headerAppActionMenu {
    // stylelint-disable-next-line @osd/stylelint/no_modifying_global_selectors
    & > .euiFlexGroup {
      gap: $euiSizeS;
    }

    // stylelint-disable-next-line @osd/stylelint/no_modifying_global_selectors
    & > .euiHeaderLinks > .euiHeaderLinks__list {
      gap: $euiSizeS;

      & > * {
        margin: 0;
      }
    }
  }

  &:has(.headerDescriptionControl, .headerBottomControl) {
    height: auto;
  }

  // stylelint-disable-next-line @osd/stylelint/no_modifying_global_selectors
  & > .euiHeaderSection {
    gap: $euiSizeS;

    &:only-child {
      width: 100%;
    }

    // stylelint-disable-next-line @osd/stylelint/no_modifying_global_selectors
    & > .euiHeaderSectionItem:empty {
      display: none;
    }
  }

  // stylelint-disable-next-line @osd/stylelint/no_modifying_global_selectors
  &:not(:has(>:not(:empty))),
  .euiHeaderSectionItem:not(:has(>:not(:empty))) {
    display: none;
  }
}

.headerGlobalNav:has(.newTopNavHeader:not(.primaryApplicationHeader)) {
  margin-bottom: -1 * $euiSizeS;
}

.newTopNavHeaderTitle {
  line-height: 1;
  font-size: 2rem;
}

.primaryApplicationHeader {
  // stylelint-disable-next-line @osd/stylelint/no_modifying_global_selectors
  .euiHeaderSection > .euiHeaderSectionItem {
    align-items: stretch;
  }

  .headerAppActionMenuSection {
    flex-grow: 1;
  }

  .headerAppActionMenu {
    width: 100%;
  }
}

.navToggleInLargeScreen {
  position: fixed;
  left: 0;
  top: 0;
}

.navToggleInSmallScreen {
  // Make the toggle button align with content
  min-width: unset;

  // Make the icon align with recent icon
  height: $euiSizeXL;
}

.stretchedActionMenu {
  width: 100%;
}

#globalHeaderBars:has(.primaryApplicationHeader) {
  border-bottom: 1px solid $euiColorLightShade;
}
