@import "../../../../public/variables";

$firstBreadcrumbPolygon: polygon(
  0% 0%,
  100% 0%,
  calc(100% - #{$euiSizeS}) 100%,
  0% 100%
);
$breadcrumbPolygon: polygon(
  $euiSizeS 0%,
  100% 0%,
  calc(100% - #{$euiSizeS}) 100%,
  0% 100%
);

/* remove background color on autofocus for euiBreadcrumbs in Popover */
.euiBreadcrumbs__inPopover {
  .euiLink.euiLink--text:focus {
    background: none;
  }
}

.osdHeaderBreadcrumbs {
  /* common for both light & dark theme */
  .osdBreadcrumbs,
  &--dark .osdBreadcrumbs {
    clip-path: $breadcrumbPolygon;
    padding: $euiSizeXS - 2.5 $euiSizeL - $euiSizeXS;

    &:first-child {
      clip-path: $firstBreadcrumbPolygon;
    }
  }

  .osdBreadcrumbs {
    background-color: $osdHeaderBreadcrumbGrayBackground;

    &:last-child {
      background-color: $osdHeaderBreadcrumbBlueBackground;
    }
  }

  /* only light mode */
  .euiBreadcrumb__collapsedLink {
    color: $osdHeaderBreadcrumbCollapsedLink;
    background: $euiColorEmptyShade;
  }

  .euiLink.euiLink--subdued:focus {
    background: $euiColorEmptyShade;
    outline: $euiSizeXS - 1 solid $osdHeaderBreadcrumbBlueBackground;
  }

  /* common for dark & light mode */
  &,
  &--dark {
    /*
  filter defines a custom filter effect by grouping atomic filter primitives!
  here we are using Gaussian filter with stdDeviation for applying
  border-radius on clipped background.
  */
    filter: url("../../public/assets/round_filter.svg#round");

    button {
      line-height: inherit;
    }

    .euiBreadcrumbSeparator {
      display: none;
    }

    .euiPopover__anchor {
      padding: 0 $euiSizeS;
    }

    .euiBreadcrumb:not(.euiBreadcrumb:last-child) {
      margin-right: 0;
    }
  }

  /* only dark mode */
  &--dark {
    .osdBreadcrumbs {
      background-color: $osdHeaderBreadcrumbMidnightSkyMediumBackground;
      color: $osdHeaderBreadcrumbMidnightSkyMediumLightColor;

      &:hover {
        color: $osdHeaderBreadcrumbMidnightSkyMediumLightHoverColor;
      }

      &:last-child {
        background-color: $osdHeaderBreadcrumbPacificSkyDarkestBackground;
        color: $euiColorFullShade;
      }
    }

    .euiBreadcrumb__collapsedLink {
      color: $euiColorGhost;
      background: $euiColorEmptyShade;
    }

    .euiLink.euiLink--subdued:focus {
      background: $euiColorEmptyShade;
      outline: $euiSizeXS - 1 solid $osdHeaderBreadcrumbPacificSkyDarkestBackground;
    }
  }
}
