@import "./collapsible_nav_group_enabled";

$leftBottomActionButtonIconWidth: 24px;
$actionMenuHeight: 24px;

.leftBottomActionButtonIconItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $leftBottomActionButtonIconWidth;
}

.leftBottomActionButtonTitleItem {
  width: $expandedLeftNavWidth - $paddingForNavWrapper - $leftBottomActionButtonIconWidth * 2;
  text-align: left;
  margin-left: $euiSizeS;
}

.leftBottomActionButton {
  display: flex;
  align-items: center;
  line-height: $actionMenuHeight;
}
