/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.headerRecentItemsButton {

  // Make the spinner the same size as an xs icon button
  &.headerRecentItemsButton--loadingIndicator {
    width: $euiButtonHeightXSmall;

    & > span {
      padding: 0;
    }
  }
}
